<footer>
    <p>Contact me at <a href="mailto:aliomarabdelsalam@gmail.com">aliomarabdelsalam@gmail.com</a></p>
    <div class="footer-details">
        <p>&copy; 2025 Humanity is Obliviously Blinded to Powers of Ten.<br>
        Designed &amp; built by Ali Abdelsalam.<br>
        All rights reserved.<br>
    </div>
    <div class="footer-links">
        <a href="HumanityIsObliviouslyBlindedToPowersOfTen\LICENSE">Terms of Service</a>
        <a href="701116705027391598"  target="_blank">Discord</a>
        <a href="https://github.com/CatManXVZ/HobPot/">GitHub</a>
    </div>
</footer>
<!-- Scripts moved to partials/code/footer.js -->

